<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/iRemark/Internal-testing/blob/master/%E5%A5%87%E6%80%9D%E5%AE%A2/Panda-VPN/Panda%20Test.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/iRemark/Internal-testing.git</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/iRemark/Internal-testing.git</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.pandapro.proxy</string>
				<key>bundle-version</key>
				<string>1.0.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Panda Test</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
